# App
NODE_ENV=development
PORT=3000

# Auth
ADMIN_JWT_SECRET=changeme-super-secret
ROOT_PASSWORD=changeme-root-password

# PostgreSQL (usar DATABASE_URL o DB_*)
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/ead
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=ead
DB_USER=postgres
DB_PASSWORD=postgres

# SSL
# PGSSL_DISABLE=true
